.imgsLyot {
  width: 100%;
  height: auto;
  background-color: lightblue;
  padding: 0% 0% 0% 0%;
  margin: auto;
  text-align: center;
  float: left;
  align-self: center;
}
.imgsLyotNewLine {
	clear: both;
	float: left;
	display: block;
	position: relative;
}

img{
	width: 240px;
	height: 300px;
	border-radius: 5px;
}
img:hover{
  opacity: .8;
  border-radius: 10px;
}

.clearImgLyot {
	clear: both;
}
