{{define "imagesLayout"}}
<div class="imgsLyot">
<table>
  <tr>
    <td><a href="photos/avantika-mishra-vaishakam-audio10.jpg" target="_blank"><img src="photos/avantika-mishra-vaishakam-audio10.jpg" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/lavanya-tripathi-glam-photos3.jpg" target="_blank"><img src="photos/lavanya-tripathi-glam-photos3.jpg" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/bhanusri19.jpg" target="_blank"><img src="photos/bhanusri19.jpg" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/namith.jpg" target="_blank"><img src="photos/namith.jpg" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/pooja-jhaveri-in-half-saree3.jpg" target="_blank"><img src="photos/pooja-jhaveri-in-half-saree3.jpg" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
  </tr>
  <tr>
    <td><a href="photos/pragya.jpg" target="_blank"><img src="photos/pragya.jpg" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
  </tr>
  <tr>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
  </tr>
  <tr>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
</tr>
  <tr>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
  </tr>
  <tr>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
  </tr>
  <tr>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
  <tr>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
  </tr>
  <tr>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
  </tr>
  <tr>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
  </tr>
  <tr>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
  </tr>
</table>
</div>
{{end}}

{{define "tdImg"}}
<td> <img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"> </td>
{{end}}
